/*Base CSS*/
body {
  font-size: 16px;
  font-family: roboto-mono;
  margin: 0;
  padding: 0;
}

.page-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1vh, 1vh, 1vh, 1vh;
}

/*Fixed positioned header, nav and social link*/

.main-header {
  position: fixed;
  top: 3rem;
  left: 1rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.main-nav {
  position: fixed;
  top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav ul li {
  list-style: none;
}

.social-links {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

/*Section One*/
.home-section-one {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100vh;
  background-image: url(img/2017_DoubleBarrel_Website_HeroImage.jpg);
  background-size: auto 100%;
  background-position: center;
}

/*Section Two*/
.home-section-two {
  display: flex;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 100vh;
  background-image: url(img/2017_DoubleBarrel_Website_ProductRow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 140px right 0;
  background-color: #e7e9eb;
}

/*Section Three*/
.home-section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3/4;
  grid-column: 1/2;
  height: 100vh;
}

.about-us-article {
  height: 60vw;
  width: 60vw;
  background-image: url(img/2017_DoubleBarrel_Website_OurStory.jpg);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
