/*!Base CSS*/
:root {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.page-container {
  display: grid;
  grid-template-rows: repeat(3, 100vh);
  grid-template-columns: 100%;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -0.4rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 2.75rem;
  font-weight: 500;
  color: #1d1d1d;
  text-transform: uppercase;
  line-height: 3.3rem;
}

.main-nav-link {
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.show-me-more {
  display: inline-block;
  margin: 0;
  padding: 1.1rem 2.5rem;
  border: 1px #ad9c62 solid;
  color: #1d1d1d;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  background-color: transparent;
  background-image: repeating-linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #ad9c62 50%,
    #ad9c62
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-transition: background-position 0.25s cubic-bezier(0.43, -0.01, 1, 1),
    background-color 0.3s cubic-bezier(0.43, -0.01, 1, 1);
  transition: background-position 0.25s cubic-bezier(0.43, -0.01, 1, 1),
    background-color 0.3s cubic-bezier(0.43, -0.01, 1, 1);
}

.show-me-more:hover {
  background-position: 0 0;
  background-color: #ad9c62;
  color: #ffffff;
  text-decoration: underline;
}

/*!Fixed positioned header, nav and social link*/

.main-header {
  position: fixed;
  top: 1.38rem;
  left: 0.2rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main-nav {
  position: fixed;
  top: 1.38rem;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none;
  margin: 0 0.94rem 0 0.94rem;
}

.main-nav a:hover {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #ad9c62;
}

.social-link {
  position: fixed;
  top: 1.15rem;
  right: 2.5rem;
  font-size: 1.52rem;
}

.social-link:visited {
  color: #ffffff;
}

/*!----------Section One----------*/
.home-section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-row: 1/2;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 40px;
  background-image: url(img/2017_DoubleBarrel_Website_HeroImage.jpg);
  background-size: cover;
  background-position: center;
}

.scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll-down-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.1875rem;
}

.scroll-down-icon {
  height: 0.5rem;
  width: 0.5rem;
  margin-top: 0.455rem;
}

/*!----------Section Two----------*/
.home-section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row: 2/3;
  height: 100vh;
  background-image: url(img/2017_DoubleBarrel_Website_ProductRow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 140px right 0;
  background-color: #e7e9eb;
}

.blurb {
  width: 750px;
  margin: 3.7rem 0 0 10.2rem;
}

.home-section-two .show-me-more {
  margin: 2.5rem 0 0 10.2rem;
}

/*!----------Section Three----------*/
.home-section-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row: 3/4;
  height: 100vh;
  background-color: #efefef;
}

.about-us-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 38rem;
  width: 52vw;
  padding: 0 0 0 3.5rem;
  background-image: url(img/2017_DoubleBarrel_Website_OurStory.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-article,
.about-us-article .show-me-more,
.about-us-article h2 {
  color: #ffffff;
}

.about-us-article h2 {
  font-size: 1.875rem;
  letter-spacing: 0.2rem;
}

.about-us-article .show-me-more {
  width: fit-content;
  margin: 0 0 2rem 0;
}

/*!----------Section Four----------*/
.home-section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
}

.inst-img {
  font-size: 2rem;
  color: #000000;
}

.inst-link {
  display: block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px #ad9c62 solid;
  font-size: 1.125rem;
  text-decoration: none;
  color: #000000;
}

.home-sml-img-container {
  display: grid;
  grid-template-columns: repeat(3, 26vw);
  grid-template-rows: repeat(6, 27vw);
}

.home-img-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.home-img-bot {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding-bottom: 3vw;
  box-sizing: border-box;
}

.home-img-top img,
.home-img-bot img {
  height: 18vw;
  width: 18vw;
  border: 1px #ad9c62 solid;
}
